:root {
	--primary-color: #006dff;
	--secondary-color: #002b5b;
	--tertiary-color: #004fc1;
	--light-color: #e0e0e0;

	--border-radius-general: 8px;
	--border-radius-rounded: 35px;
	--border-general: 2px solid #006dff;
}

@font-face {
	font-family: "Exo2";
	src: url("../typography/Exo2-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Exo2";
	src: url("../typography/Exo2-Bold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter_28pt-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter_28pt-Bold.ttf") format("truetype");
	font-weight: 600;
}

/* =======================
 RESET 
 ======================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	transition: all 0.25s ease;
}

/* =======================
 BODY
  ======================= */
body {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: white;
	font-family: "Exo2";
}

.body-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-card {
	background-image: url(../assets/banner.png);
	background-position: center bottom;
	background-size: cover;
	aspect-ratio: 4/3;
	border-radius: 0 0 20px 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	color: white;
}
.header-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
@media screen and (min-width: 700px) {
	.header-card {
		max-height: 300px;
	}
}

.header-content {
	display: flex;
	align-items: center;
	gap: 5px;
	z-index: 2;
	font-family: "Exo2";
}

.header-logo {
	max-width: 40px;
}

.quick-actions {
	display: flex;
	width: 100%;
	gap: 25px;
	align-self: center;
}
@media screen and (min-width: 700px) {
	.quick-actions {
		max-width: 450px;
	}
}

.quick-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background-image: url(../assets/background.png);
	background-position: center;
	background-size: cover;
	width: 100%;
	border-radius: var(--border-radius-general);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
	color: var(--primary-color);
	font-weight: 600;
	z-index: 2;
}
.quick-btn:hover {
	transform: translateY(-4px) scale(1.03);
	background: var(--primary-color);
	color: white;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.quick-btn:hover img {
	filter: brightness(0) invert(1);
}
.quick-btn img {
	width: 40px;
}

.list-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.link {
	border-radius: var(--border-radius-general);
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--secondary-color);
	font-weight: 600;
	width: 100%;
	background: url(../assets/background.png);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
	color: var(--primary-color);
	font-size: 1.2rem;
}
.link:hover {
	background: var(--primary-color);
	color: white;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.link:hover .link-icon {
	filter: brightness(0) invert(1);
}
@media screen and (min-width: 700px) {
	.link {
		max-width: 450px;
	}
}

.link-icon {
	width: 50px;
}

.link:hover {
	transform: scale(1.05);
}
