:root {
	--primary-color: #006dff;
	--secondary-color: #002b5b;
	--tertiary-color: #004fc1;
	--light-color: #e0e0e0;

	--border-radius-general: 12px;
	--border-radius-rounded: 35px;
	--border-general: 2px solid #006dff;
}

@font-face {
	font-family: "Exo2";
	src: url("../typography/Exo2-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Exo2";
	src: url("../typography/Exo2-Bold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter_28pt-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter_28pt-Bold.ttf") format("truetype");
	font-weight: 600;
}

/* =======================
 RESET 
 ======================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Inter";
	transition: all 0.25s ease;
}

/* =======================
 BODY
  ======================= */
body {
	background-image: url(../assets/background.png);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	overflow-x: hidden;
}

.body-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-card {
	background-image: url(../assets/opengraph-1.png);
	background-position: center;
	background-size: cover;
	aspect-ratio: 4/3;
	border-radius: 0 0 20px 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	color: white;
}
.header-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
@media screen and (min-width: 700px) {
	.header-card {
		max-height: 300px;
	}
}

.header-title {
	z-index: 2;
}

.quick-actions {
	display: flex;
	width: 100%;
	gap: 15px;
	align-self: center;
}
@media screen and (min-width: 700px) {
	.quick-actions {
		max-width: 450px;
	}
}

.quick-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 1rem 2rem;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 100%;

	border-radius: var(--border-radius-general);
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);

	color: var(--light-color);
	font-weight: 600;
	z-index: 2;
}
.quick-btn:hover {
	transform: translateY(-4px) scale(1.03);
	box-shadow: 0 14px 30px rgba(0, 0, 0, 0.35);
}

.quick-btn img {
	width: 30px;
}

.list-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.card {
	background: white;
	border-radius: var(--border-radius-general);
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--secondary-color);
	font-weight: 600;
	box-shadow: 4px 4px 0px var(--primary-color);
	border: var(--border-general);
	width: 100%;
}
@media screen and (min-width: 700px) {
	.card {
		max-width: 450px;
	}
}

.card-icon {
	width: 60px;
}

.card-title {
	color: var(--primary-color);
	font-size: 1.2rem;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: none;
}

/* =======================
   BACKGROUND PARTICLES
======================= */
#particles-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: 0.6;
}
